<header class="form-group row">
  <h1>OrderGenerator</h1>
  <div class="container">
    <p>Teste técnico - Douglas Felix 💻</p>

    <div class="buttons space">
      <button
        type="button"
        class="text-end btn btn-primary"
        (click)="resetar()"
      >
        Reset orders
      </button>
      <button
        type="button"
        class="text-end btn btn-primary"
        (click)="getOrders()"
      >
        Console.log(orders)
      </button>
    </div>
  </div>
</header>
<div class="divider space"></div>
<div class="row space">
  <h4 class="col-sm-12">Exposição financeira</h4>
  <span class="col-sm-4">PETR4: {{ expoPETR4 | currency : "BRL" }}</span>
  <span class="col-sm-4">VALE3: {{ expoVALE3 | currency : "BRL" }}</span>
  <span class="col-sm-4">VIIA4: {{ expoVIIA4 | currency : "BRL" }}</span>
</div>
<div class="divider space"></div>
<form
  #envioForm="ngForm"
  (ngSubmit)="enviar()"
  (click)="this.resultado = undefined"
>
  <div class="space">
    <app-ativo
      [ativoSelected]="ativoSelected"
      (ativoChanged)="ativoSelected = $event"
    />
  </div>
  <div class="space">
    <app-lado
      [ladoSelected]="ladoSelected"
      (ladoChanged)="ladoSelected = $event"
    />
  </div>
  <div class="space">
    <app-quantidade
      [quantidade]="quantidadeInformada"
      (quantidadeChanged)="quantidadeInformada = $event"
      (isValid)="isQuantidadeValid = $event"
    />
  </div>
  <div class="space">
    <app-preco
      [preco]="precoInformado"
      (precoChanged)="precoInformado = $event"
      (isValid)="isPrecoValid = $event"
    />
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-end space">
      <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">
        Enviar
      </button>
    </div>
  </div>
</form>

<div class="divider space"></div>

<div>
  @if(resultado){
  <div name="retorno" class="justify-content-center">
    <h4
      [ngClass]="{
        'text-danger': !resultado.sucesso,
        'text-success': resultado.sucesso
      }"
    >
      Resultado:
      {{ resultado.sucesso ? "Sucesso" : "Erro" }}
    </h4>
    @if(resultado.msg_erro){
    <p>{{ resultado.msg_erro }}</p>
    }
  </div>
  }
</div>
